> Projeto Desenvolve <br>
Programa√ß√£o Intermedi√°ria com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# 3.6 - Pandas

## Exerc√≠cios
Antes de continuar, baixe os arquivos das bases de dados de partidas em Copas do Mundo e salve na mesma pasta deste notebook.
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1930_2022.csv
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1991_2023.csv

A c√©lula a seguir j√° carrega os dados em CSV e ajusta as colunas para trabalharmos com os nomes traduzidos (como fizemos em aula).

In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',12)

wcwomen_df = pd.read_csv('matches_1991_2023.csv')
wcmen_df   = pd.read_csv('matches_1930_2022.csv')
wc = pd.concat((wcwomen_df,wcmen_df)).reset_index()

nomes_traduzidos = {'home_team': 'time_1', 'away_team': 'time_2', 'home_score': 'gols_1', 'away_score': 'gols_2',
                    'Date': 'data', 'Year': 'ano', 'Host': 'pa√≠s_sede', 'Attendance': 'comparecimento',
                    'Score': 'resultado', 'Round': 'rodada', 'home_goal': 'gols_1_detalhes', 'away_goal': 'gols_2_detalhes',
                    'home_own_goal': 'gols_1_contra', 'away_own_goal': 'gols_2_contra',
                    'home_penalty_goal': 'gols_1_penalti', 'away_penalty_goal': 'gols_2_penalti',
                    'home_red_card': 'cartao_vermelho_1', 'away_red_card': 'cartao_vermelho_2',
                    'home_yellow_card_long': 'cartao_amarelo_1', 'away_yellow_card_long': 'cartao_amarelo_2'}

wc = wc.loc[:, nomes_traduzidos.keys()]
wc.columns = nomes_traduzidos.values()

copa = wc['ano'].apply( lambda x: 'Masculina' if x % 2 == 0 else 'Feminina').astype('string')
wc['copa'] = copa
display(wc)

,time_1,time_2,gols_1,gols_2,data,ano,pa√≠s_sede,comparecimento,resultado,rodada,gols_1_detalhes,gols_2_detalhes,gols_1_contra,gols_2_contra,gols_1_penalti,gols_2_penalti,cartao_vermelho_1,cartao_vermelho_2,cartao_amarelo_1,cartao_amarelo_2,copa
0,Spain,England,1,0,2023-08-20,2023,"Australia, New Zealand",75784,1‚Äì0,Final,Olga Carmona ¬∑ 29‚Äô,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['78‚Äô|1:0|Salma Paralluelo'],['55‚Äô|1:0|Lauren Hemp'],Feminina
1,Sweden,Australia,2,0,2023-08-19,2023,"Australia, New Zealand",49461,2‚Äì0,Third-place match,Kosovare Asllani ¬∑ 62‚Äô,NaN,NaN,NaN,Fridolina Rolf√∂ (P) ¬∑ 30‚Äô,NaN,NaN,NaN,"['88‚Äô|2:0|Elin Rubensson', '90+5‚Äô|2:0|Lina Hur...",['45+1‚Äô|1:0|Katrina Gorry'],Feminina
2,Australia,England,1,3,2023-08-16,2023,"Australia, New Zealand",75784,1‚Äì3,Semi-finals,Sam Kerr ¬∑ 63‚Äô,Ella Toone ¬∑ 36‚Äô|Lauren Hemp ¬∑ 71‚Äô|Alessia Rus...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['10‚Äô|0:0|Alex Greenwood', '90+5‚Äô|1:3|Chloe Ke...",Feminina
3,Spain,Sweden,2,1,2023-08-15,2023,"Australia, New Zealand",43217,2‚Äì1,Semi-finals,Salma Paralluelo ¬∑ 81‚Äô|Olga Carmona ¬∑ 89‚Äô,Rebecka Blomqvist ¬∑ 88‚Äô,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feminina
4,Australia,France,0,0,2023-08-12,2023,"Australia, New Zealand",49461,(7) 0‚Äì0 (6),Quarter-finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['92‚Äô|0:0|Katrina Gorry'],NaN,Feminina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,Argentina,France,1,0,1930-07-15,1930,Uruguay,23409,1‚Äì0,Group stage,Luis Monti ¬∑ 81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1308,Yugoslavia,Brazil,2,1,1930-07-14,1930,Uruguay,24059,2‚Äì1,Group stage,Aleksandar Tirnaniƒá ¬∑ 21|Ivan Bek ¬∑ 30,Preguinho ¬∑ 62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1309,Romania,Peru,3,1,1930-07-14,1930,Uruguay,2549,3‚Äì1,Group stage,Adalbert De»ôu ¬∑ 1|Constantin Stanciu ¬∑ 79|Nico...,Luis de Souza Ferreira ¬∑ 75,NaN,NaN,NaN,NaN,NaN,Pl√°cido Galindo ¬∑ 70,NaN,NaN,Masculina
1310,United States,Belgium,3,0,1930-07-13,1930,Uruguay,18346,3‚Äì0,Group stage,Bart McGhee ¬∑ 23|Tom Florie ¬∑ 45|Bert Patenaud...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1311,France,Mexico,4,1,1930-07-13,1930,Uruguay,4444,4‚Äì1,Group stage,Lucien Laurent ¬∑ 19|Marcel Langiller ¬∑ 40|Andr...,Juan Carre√±o ¬∑ 70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina

#### Q1.
Fa√ßa as convers√µes de tipo necess√°rias para que a sa√≠da do comando `wc.info()` seja como apresentado a seguir. E **salve o novo dataframe** com o comando `df.to_csv('wc_formatado.csv')`.

```
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype         
---  ------             --------------  -----         
 0   time_1             1312 non-null   string        
 1   time_2             1312 non-null   string        
 2   gols_1             1312 non-null   int64         
 3   gols_2             1312 non-null   int64         
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64         
 6   pa√≠s_sede          1312 non-null   string        
 7   comparecimento     1312 non-null   int64         
 8   resultado          1312 non-null   string        
 9   rodada             1312 non-null   category      
 10  gols_1_detalhes    970 non-null    string        
 11  gols_2_detalhes    771 non-null    string        
 12  gols_1_contra      57 non-null     string        
 13  gols_2_contra      30 non-null     string        
 14  gols_1_penalti     170 non-null    string        
 15  gols_2_penalti     119 non-null    string        
 16  cartao_vermelho_1  59 non-null     string        
 17  cartao_vermelho_2  65 non-null     string        
 18  cartao_amarelo_1   834 non-null    string        
 19  cartao_amarelo_2   857 non-null    string        
 20  copa               1312 non-null   string 
```

In [2]:
wc = wc.astype({
    'time_1':'string',
    'time_2':'string',
    'gols_1_detalhes':'string' ,
    'gols_2_detalhes':'string',
    'gols_1_contra':'string',
    'gols_2_contra':'string',
    'gols_1_penalti':'string',
    'gols_2_penalti':'string',
    'cartao_vermelho_1':'string',
    'cartao_vermelho_2':'string',
    'cartao_amarelo_1':'string',
    'cartao_amarelo_2':'string',
    'resultado':'string',
    'pa√≠s_sede':'string',
    'rodada':'category'   
})
wc['data'] = wc['data'].apply(pd.to_datetime)
wc.info()
wc.to_csv('wc_formatado.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_1             1312 non-null   string
 1   time_2             1312 non-null   string
 2   gols_1             1312 non-null   int64
 3   gols_2             1312 non-null   int64
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64
 6   pa√≠s_sede          1312 non-null   string
 7   comparecimento     1312 non-null   int64
 8   resultado          1312 non-null   string
 9   rodada             1312 non-null   category
 10  gols_1_detalhes    970 non-null    string
 11  gols_2_detalhes    771 non-null    string
 12  gols_1_contra      57 non-null     string
 13  gols_2_contra      30 non-null     string
 14  gols_1_penalti     170 non-null    string
 15  gols_2_penalti     119 non-null    string
 16  cartao_vermelho_1  59 non-null     string
 17  cartao_vermelho_2  65 non-null     string
 18  cartao_amarelo_1   834 non-null    string
 19  cartao_amarelo_2   857 non-null    string
 20  copa               1312 non-null   string
dtypes: category(1), datetime64[ns](1), int64(4), string(15)
memory usage: 206.8 KB

#### Q2.
Apresente a linha do dataframe `wc` que corresponde ao jogo com maior audi√™ncia da hist√≥ria.

In [3]:
pd.set_option('display.max_rows', None)
indice = wc['comparecimento'].idxmax()
wc.loc[indice]

time_1                                                         Uruguay
time_2                                                          Brazil
gols_1                                                               2
gols_2                                                               1
data                                               1950-07-16 00:00:00
ano                                                               1950
pa√≠s_sede                                                       Brazil
comparecimento                                                  173850
resultado                                                          2‚Äì1
rodada                                                     Final stage
gols_1_detalhes      Juan Alberto Schiaffino ¬∑ 66|Alcides Ghiggia ¬∑ 79
gols_2_detalhes                                            Fria√ßa ¬∑ 47
gols_1_contra                                                     <NA>
gols_2_contra                                                     <NA>
gols_1_penalti                                                    <NA>
gols_2_penalti                                                    <NA>
cartao_vermelho_1                                                 <NA>
cartao_vermelho_2                                                 <NA>
cartao_amarelo_1                                                  <NA>
cartao_amarelo_2                                                  <NA>
copa                                                         Masculina
Name: 1238, dtype: object

#### Q3.
Aplicando opera√ß√µes sobre as colunas `ano` e `copa` do dataframe `wc`, apresente quantas copas femininas e quantas copas masculinas j√° aconteceram na hist√≥ria.

Exemplo de sa√≠da (valores inventados):
```
Masculina: 22
Feminina: 9
```

In [4]:
total_categoria = wc.groupby('copa').size()
print(total_categoria)

copa
Feminina     348
Masculina    964
dtype: int64

#### Q3. 
Crie um dataframe `participacao` com as colunas `pa√≠s`, `copa`, e `num_copas` que armazena a quantidade de copas do mundo que cada pa√≠s participou, informando se √© da copa masculina ou feminina. Ao final imprima, como apresentado a seguir, o top 5 pa√≠ses de cada competi√ß√£o que mais participou de copas do mundo.

Exemplo de sa√≠da (valores inventados):
```
pa√≠s            copa        num_copas
Brazil          Feminina    8
Unites States   Feminina    8
Germany         Feminina    8
Japan           Feminina    7
Colombia        Feminina    7
```

```
pa√≠s            copa        num_copas
Brazil          Masculina   21
Germany         Masculina   21
Argentina       Masculina   20
England         Masculina   20
Mexico          Masculina   20
```

In [16]:
todos_times = pd.concat([
    wc[['time_1', 'copa', 'ano']].rename(columns={'time_1': 'pa√≠s'}),
    wc[['time_2', 'copa', 'ano']].rename(columns={'time_2': 'pa√≠s'})
])

copas_participacao = todos_times.drop_duplicates(subset=['pa√≠s', 'copa', 'ano'])

participacao = (
    copas_participacao.groupby(['pa√≠s', 'copa'])
    .size()
    .reset_index(name='num_copas')
    .sort_values(by=['copa', 'num_copas'], ascending=[True, False])
)

print(participacao.groupby('copa').head(5))

         pa√≠s       copa  num_copas
10     Brazil   Feminina          9
45    Germany   Feminina          9
63      Japan   Feminina          9
78    Nigeria   Feminina          9
81     Norway   Feminina          9
11     Brazil  Masculina         22
3   Argentina  Masculina         18
60      Italy  Masculina         18
71     Mexico  Masculina         17
40    England  Masculina         16

#### Q4. 
* Crie um dataframe `gols` com duas colunas `pa√≠s` e `total_gols` com o total de gols marcados por cada pa√≠s durante todas as copas do mundo, juntando gols em casa (`gols_1`) e gols como time visitante (`gols_2`).
* Imprima o dataframe `gols` ordenado de forma decrescente, para que os times com mais gols fiquem no topo.

Segue um exemplo ilustrativo com o formato do dataframe resultado:

```
pa√≠s        total_gols
Brazil      120
Argentina   112
Germany     107
...
```

In [24]:
gols_1 = wc.groupby('time_1')['gols_1'].sum().reset_index()
gols_2 = wc.groupby('time_2')['gols_2'].sum().reset_index()

gols_1.columns = ['pa√≠s', 'gols']
gols_2.columns = ['pa√≠s', 'gols']

gols = pd.concat([gols_1, gols_2]).groupby('pa√≠s', as_index=False)['gols'].sum()

gols.rename(columns={'gols': 'total_gols'}, inplace=True)
gols = gols.sort_values(by='total_gols', ascending=False)

print(gols)

                      pa√≠s  total_gols
8                   Brazil         308
31                 Germany         254
84           United States         182
30                  France         180
75                  Sweden         165
27                 England         160
2                Argentina         159
42                   Italy         151
74                   Spain         132
50             Netherlands         122
54                  Norway         107
88            West Germany         106
85                 Uruguay          89
37                 Hungary          87
44                   Japan          79
76             Switzerland          69
5                  Belgium          69
48                  Mexico          68
3                Australia          65
60                Portugal          63
89              Yugoslavia          55
13                China PR          54
73            Soviet Union          53
22                 Denmark          53
59                  Poland          49
52                 Nigeria          46
46          Korea Republic          46
20          Czechoslovakia          44
17                 Croatia          43
4                  Austria          43
12                   Chile          42
15                Colombia          42
64                  Russia          39
11                  Canada          38
10                Cameroon          34
66                Scotland          30
56                Paraguay          30
63                 Romania          30
16              Costa Rica          26
33                   Ghana          24
9                 Bulgaria          22
49                 Morocco          22
57                    Peru          21
81                 T√ºrkiye          20
72            South Africa          18
45               Korea DPR          18
67                 Senegal          16
21           C√¥te d'Ivoire          16
24                 Ecuador          15
80                 Tunisia          14
65            Saudi Arabia          14
53        Northern Ireland          13
0                  Algeria          13
51             New Zealand          13
38                 IR Iran          13
62     Republic of Ireland          11
68                  Serbia           9
34                  Greece           5
87                   Wales           5
18                    Cuba           5
82                 Ukraine           5
25                   Egypt           5
29           FR Yugoslavia           5
71                Slovenia           5
70                Slovakia           5
32              Germany DR           5
55                  Panama           5
43                 Jamaica           5
77                Thailand           4
7   Bosnia and Herzegovina           4
91                  Zambia           3
19          Czech Republic           3
36                Honduras           3
14          Chinese Taipei           2
83    United Arab Emirates           2
35                   Haiti           2
28       Equatorial Guinea           2
47                  Kuwait           2
69   Serbia and Montenegro           2
39                 Iceland           2
58             Philippines           1
26             El Salvador           1
78                    Togo           1
41                  Israel           1
40                    Iraq           1
1                   Angola           1
61                   Qatar           1
6                  Bolivia           1
23       Dutch East Indies           0
86                 Vietnam           0
90                   Zaire           0
79     Trinidad and Tobago           0

#### Q5. 
Qual pa√≠s tomou mais cart√µes amarelos somando todas as copas?

Neste exerc√≠cio voc√™ vai trabalhar com as colunas `cartao_amarelo_1` e `cartao_amarelo_2` onde cada observa√ß√£o √© uma string represetando uma lista dos cart√µes amarelos de um √∫nico jogo na forma `minuto|placar|jogador(a)`. Por exemplo:
```
['16‚Äô|1:0|Rosana G√≥mez', '20‚Äô|2:0|Gabriela Ch√°vez]
```

Recomendo criar colunas `num_cartoes_1` e `num_cartoes_2` a partir de cada coluna `cartao_amarelo_X` usando o m√©todo gen√©rico `apply` para chamar uma fun√ß√£o que voc√™ vai criar para transformar uma observa√ß√£o de cart√£o amarelo em uma contagem de elementos da lista. 

Lembre de levar em considera√ß√£o que muitas observa√ß√µes s√£o `NaN`. 

Em seguida fa√ßa sua m√°gica para agrupar as informa√ß√µes por pa√≠s, acumular os cart√µes de jogos em casa e jogos visitante, e produzir o resultado final como apresentado a seguir (valores inventados):

```
pa√≠s        cart√µes amarelos
Argentina   97
England     93
Australia   93
...
```

In [32]:
def contar_cartoes(cartoes):
    if pd.isna(cartoes):
        return 0
    return len(eval(cartoes)) 

wc['num_cartoes_1'] = wc['cartao_amarelo_1'].apply(contar_cartoes)
wc['num_cartoes_2'] = wc['cartao_amarelo_2'].apply(contar_cartoes)

cartoes_casa = wc.groupby('time_1')['num_cartoes_1'].sum().reset_index()
cartoes_casa.columns = ['pa√≠s', 'cartoes_casa']

cartoes_visitante = wc.groupby('time_2')['num_cartoes_2'].sum().reset_index()
cartoes_visitante.columns = ['pa√≠s', 'cartoes_visitante']

cartoes_totais = pd.merge(cartoes_casa, cartoes_visitante, on='pa√≠s', how='outer').fillna(0)
cartoes_totais['total_cartoes'] = cartoes_totais['cartoes_casa'] + cartoes_totais['cartoes_visitante']
cartoes_totais = cartoes_totais[['pa√≠s', 'total_cartoes']].sort_values(by='total_cartoes', ascending=False)

print(cartoes_totais)

                      pa√≠s  total_cartoes
8                   Brazil          168.0
2                Argentina          162.0
29                 Germany          124.0
46             Netherlands          117.0
39                   Italy          108.0
80           United States          100.0
44                  Mexico           97.0
28                  France           97.0
43          Korea Republic           95.0
25                 England           92.0
71                  Sweden           85.0
70                   Spain           77.0
48                 Nigeria           76.0
81                 Uruguay           73.0
3                Australia           73.0
10                Cameroon           69.0
41                   Japan           67.0
56                Portugal           62.0
17                 Croatia           58.0
22                 Denmark           58.0
31                   Ghana           57.0
72             Switzerland           56.0
5                  Belgium           53.0
50                  Norway           51.0
55                  Poland           51.0
12                   Chile           49.0
11                  Canada           47.0
15                Colombia           47.0
16              Costa Rica           47.0
52                Paraguay           40.0
84            West Germany           40.0
76                 Tunisia           39.0
45                 Morocco           38.0
61            Saudi Arabia           37.0
9                 Bulgaria           36.0
13                China PR           34.0
68            South Africa           33.0
60                  Russia           33.0
36                 IR Iran           32.0
59                 Romania           32.0
23                 Ecuador           32.0
64                  Serbia           29.0
63                 Senegal           27.0
21           C√¥te d'Ivoire           27.0
62                Scotland           23.0
4                  Austria           23.0
42               Korea DPR           22.0
47             New Zealand           22.0
85              Yugoslavia           21.0
32                  Greece           20.0
58     Republic of Ireland           19.0
77                 T√ºrkiye           18.0
20          Czechoslovakia           18.0
67                Slovenia           18.0
69            Soviet Union           18.0
0                  Algeria           16.0
40                 Jamaica           15.0
53                    Peru           14.0
51                  Panama           14.0
34                Honduras           14.0
78                 Ukraine           12.0
65   Serbia and Montenegro           11.0
74                    Togo           10.0
66                Slovakia           10.0
30              Germany DR           10.0
1                   Angola           10.0
89             El Salvador            9.0
38                    Iraq            9.0
75     Trinidad and Tobago            9.0
24                   Egypt            9.0
49        Northern Ireland            9.0
73                Thailand            8.0
57                   Qatar            7.0
6                  Bolivia            7.0
27           FR Yugoslavia            7.0
35                 Hungary            6.0
26       Equatorial Guinea            6.0
19          Czech Republic            6.0
79    United Arab Emirates            6.0
87                  Zambia            5.0
83                   Wales            5.0
33                   Haiti            5.0
90                  Israel            4.0
7   Bosnia and Herzegovina            3.0
54             Philippines            3.0
37                 Iceland            3.0
91                  Kuwait            3.0
82                 Vietnam            2.0
86                   Zaire            2.0
14          Chinese Taipei            1.0
88       Dutch East Indies            0.0
18                    Cuba            0.0

#### Q6.
Qual o top10 jogadores com mais gols em copa? Considere gols em jogo e gols de p√™nalti.

Para conseguir essa informa√ß√£o, voc√™ precisar√° trabalhar com as colunas:
```
10  gols_1_detalhes         
11  gols_2_detalhes    
14  gols_1_penalti     
15  gols_2_penalti     
```

Essas tamb√©m s√£o colunas textuais, onde cada observa√ß√µes apresenta todos os gols de uma partida separados pelo caracter `|`. Cada gol est√° na forma `'Jogador(a) ¬∑ minuto‚Äô'`. Por exemplo:
```
'Alex Morgan ¬∑ 12‚Äô|Rose Lavelle ¬∑ 20‚Äô'
```

Lembre de levar em considera√ß√£o que muitas observa√ß√µes s√£o `NaN`. 

Recomendo criar um dicion√°rio √† parte, onde cada chave ser√° um jogador encontrado nessas colunas do dataframe `wc` e o valor correspondente ser√° a contagem de ocorr√™ncias desses nomes.

Em seguida basta converter o seu dicion√°rio em um dataframe e imprim√≠-lo na forma (valores n√£o s√£o inventados üòÅ):
```
jogador(a)      num_gols 
Marta           17
Miroslav Klose  16
... 
```

In [39]:
from collections import defaultdict

def extrair_jogadores_e_contar(coluna, contador):

    for item in coluna.dropna():  
        gols = item.split('|')
        for gol in gols:
            jogador = gol.split('¬∑')[0].strip()
            contador[jogador] += 1

contador_gols = defaultdict(int)

extrair_jogadores_e_contar(wc['gols_1_detalhes'], contador_gols)
extrair_jogadores_e_contar(wc['gols_2_detalhes'], contador_gols)
extrair_jogadores_e_contar(wc['gols_1_penalti'], contador_gols)
extrair_jogadores_e_contar(wc['gols_2_penalti'], contador_gols)

df_gols = pd.DataFrame(list(contador_gols.items()), columns=['jogador', 'num_gols'])

df_gols = df_gols.sort_values(by='num_gols', ascending=False).head(10)

print(df_gols)

               jogador  num_gols
433     Miroslav Klose        16
497            Ronaldo        14
169       Birgit Prinz        14
974      Just Fontaine        13
894        Gerd M√ºller        13
882               Pel√©        12
174       Abby Wambach        12
1019     S√°ndor Kocsis        11
603   J√ºrgen Klinsmann        11
222            Sun Wen        10